<%= form_with(model: comentario, local: true) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
        <% comentario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :autor %>
      <%= form.text_field :autor %>
    </div>

    <div class="field">
      <%= form.label :corpo %>
      <%= form.text_field :corpo %>
    </div>

    <div class="field">
      <%= form.label :prato_id %>
      <%= form.text_field :prato_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
