<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">

<%= form_with(model: prato, local: true, :html => { :multipart => true }) do |form| %>
  <% if prato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prato.errors.count, "error") %> prohibited this prato from being saved:</h2>

      <ul>
        <% prato.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formulario">
    <div class="field">
      <div class = "label">
        <%= form.label :Nome %>
      </div>

      <div class = "text_area">
        <%= form.text_field :nome %>
      </div>
    </div>

    <div class="field">
      <div class = "label">
        <%= form.label :Descrição %>
      </div>

      <div class = "text_area">
        <%= form.text_area :descricao %>
      </div>
    </div>

    <div class="field">
      <div class = "label">
        <%= form.label :Imagem %>
      </div>
      <div class = "text_area">
        <%= form.file_field :image %>
      </div>
    </div>

    <div class="field">
      <div class = "label">
        <%= form.label :Equipe %>
      </div>
      <div class = "text_area">
        <%= form.text_field :nome_usuario %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
