<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
<h3>Editar prato</h3>

<%= render 'form', prato: @prato %>

<div class = "links_edit">
    <%= link_to 'Voltar', @prato %> |
    <%= link_to 'Inicio', pratos_path %>
</div>
