<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div class=tpratos>
  <h2>Pratos:</h2>
  <hr class="style-seven" />
</div>

<table cellspacing="10">
  <tbody>
    <% @pratos.each do |prato| %>
        <td>
          <%= image_tag(prato.image.url(:medium)) %><br />
          <div class = nome_prato>
            <%= prato.nome %><br />
          </div>
          <div class = link_ver_prato>
            <%= link_to 'Ver', prato %><br />
          </div>
        </td>
    <% end %>
  </tbody>
</table>

<hr class="style-seven" />

<br>

<div class = "link_cadastrar_prato">
  <%= link_to 'Cadastrar Prato', new_prato_path %>
</div>
