<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">

<div class="left">
  <div class ="show_imagem">
    <p>
      <%= image_tag(@prato.image.url(:medium)) %>
    </p>
  </div>

  <div class ="show_prato">
    <p>
      <%= @prato.nome %>
    </p>
  </div>

  <div class ="show_descricao_equipe">
    <p>
      <u>Descrição</u>:
      <%= @prato.descricao %>
    </p>

    <p>
      <u>Equipe</u>:
      <%= @prato.nome_usuario %>
    </p>
  </div>

  <div class = "links_show">
    <%= link_to 'Exluir', @prato, method: :delete, data: { confirm: 'Você tem certeza?' } %> |
    <%= link_to 'Editar', edit_prato_path(@prato) %> |
    <%= link_to 'Voltar', pratos_path %><br />
  </div>
</div>

<div class="right">
  <div class = "comentarios">
    <h3>Comentários</h3>
    <% @prato.comentarios.each do |comentario| %>
      <p>
        <b>Autor:</b>
        <%= comentario.autor %>
      </p>
    
      <p>
        <b>Comentario:</b><br />
        <%= comentario.corpo %>
      </p>
      
      <p>
        <%= link_to 'Apagar Comentário', [comentario.prato, comentario], :method => :delete, data: { confirm: 'Você tem certeza?' } %>
      </p>

    <hr class="style-seven" />
    <% end %>
    
    <h3>Adicione um comentário:</h3>

    <%= form_for([@prato, @prato.comentarios.build]) do |f| %>
      <div class="formulario">
        
        <div class="field">
            <div class = "labelc">
              <%= f.label :Autor %><br />
            </div>
          <%= f.text_field :autor %>
        </div>

        <div class="field">
          <div class = "labelc">
            <%= f.label :Comentário %><br />
          </div>
          <%= f.text_area :corpo %>
        </div>
        
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
  <% end %>
  
  <br />
  </div>
</div>

