html, body {
    height:100%;
}

body { 
    padding-top: 0px; 
    background-image: url("imagens/fundo.png");
}

h1 {
    color: purple;
    font-family: 'Bangers', cursive;
    font-stretch: condensed;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Concert One', cursive;
    color:#FF8000;
    font-size: 40px;
}

hr.style-seven {
    height:8px;
    border: 2px dashed #999;
}

a:link {
    text-decoration:none; 
}


table, td, th { 
    vertical-align: middle !important; 
    border: none !important; 
}

img{
    width: 275px;
    height: 200px;
}

.nome_prato{
    font-family: 'Concert One', cursive;
    font-size: 30px
}

.link_ver_prato{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.link_cadastrar_prato{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.show_prato{
    color:#FF8000;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}

.show_imagem img{
    width: 500px;
    height: 350px;
}

.show_descricao_equipe{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.links_show{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

h3 {
    font-family: 'Concert One', cursive;
    color:#FF8000;
    font-size: 40px;
}

.links_edit{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.field{
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.formulario div + div {
    margin-top: 1em;
}

.label {
    display: inline-block;
    text-align: right;
}

.textarea {
    font-size: 1em;
    font-family: 'Concert One', cursive;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.textarea:focus {
    border-color: #000;
}

.comentarios{
    text-align: right;
    margin-top: 0%;
}

.left{
    width: 500px;
    height: 300px;
    float: left;

}

.right{
    width: 1000px;
    height: 400px;
    margin-left: 25%;
    margin-top: 15px;
    font-family: 'Concert One', cursive;
}

.formulario_comentario div + div {
    margin-top: 1em;
}

.labelc{
    display: inline-block;
    width: 90px;
}
